* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0px;
    color: whitesmoke;
    text-align: center;
    margin: 0px;
    font-weight: 100;
    padding: 2px;
    font-family: 'Barlow';
    line-height: 1r;
  }
  
  
  html {
    font-size: 16px;
  }
  /* Barlow Fonts */

  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/barlow/v5/7cHqv4kjgoGqM7E3p-ks51ostz0rdg.woff2)
      format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
      U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/barlow/v5/7cHqv4kjgoGqM7E3_-gs51ostz0rdg.woff2)
      format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
      U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/barlow/v5/7cHqv4kjgoGqM7E3t-4s51ostz0rdg.woff2)
      format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
      U+FEFF, U+FFFD;
  }
  
  body {
    font-family: 'Barlow';
    background-color: rgb(0, 0, 0);
    background: rgb(146 103 67 / 59%);
  }
  
  /* Header section */
  
  .flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .header-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
      }
  
  header {
    width: 34%;
    position: absolute;
    /* z-index: 10; */
    padding-bottom: 5px;
    height: 70px;
    background-color: #00000069;
    border: 1px solid seashell;
    align-items: center;
    opacity: 0.9;
    border-radius: 5px;
    margin: 12px 8px;
  }
  header h1 {
    padding: 10px 43px 10px 15px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 65px;
  
  }

  h1 {
      font-size: 3rem;
      font-family: cursive;
      letter-spacing: .3rem;
  }
  h1.animate__animated.animate__fadeIn {
    --animate-duration: 3s;
  }
  
  nav span {
    display: inline-block;
    padding: 30px 10px;
  }
  a span:hover {
      color:grey;
  }

  main {
    padding-top: 69px;
    opacity: 0.9;
    width: 1000px;
    margin: auto;
  }
  /* Mission Container with Opacity */
  
  #mission {
    height: 728px;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
    padding-top: 70px;
    /* width: 1200px; */
    border: 2px solid white;
    border-radius: 5px;
  }
  
  #mission .content {
    margin: auto;
    background-color: black;
    width: 100%;
    opacity: 0.6;
  }
  
  h2 {
    margin: 18px;
    color: rgb(249 249 249);
    letter-spacing: .4rem;
    /* word-spacing: 0.5rem; */
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    background: linear-gradient(to right, rgb(246, 252, 252), rgb(5, 5, 5) 50%,white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 500ms ease;
  }

  h2:hover {
        background-position: 0 100%;
      }
  
  h3 {
    color: #9e9e9e;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    margin: 11px;
    color: snow;
  }
  
  h4 {
    color: rgb(252, 252, 252);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: .1rem;
    word-spacing: .1rem;
  }

  /* Tea of Month Images Section */
  
  #store {
    height: 700px;
    width: 1000px;
    margin: auto;
    padding-top: 12px;
  }
  
  .item {
    padding: 5px;
  }
  
  .item img {
    width: 287px;
    margin: 5px;
    display: block;
    border-radius: 5px;
    border: 1px solid white;
    height: auto;
    border-radius: 4px;
  }
  
  .item img:hover {
    color: gray;
  }
  
  .item span {
    display: block;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 1.2rem;
  }

 /* make text/images grow */

  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
  
  .flex-container.locations {
    padding-top: -4px;
  }
  
  .flex-container.locations {
    padding-top: 18px;
  }

  /* Location Section */

  #locations {
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
    height: 500px;
    padding-top: 42px;
    width: 1195px;
    display: inline-block;
    margin: 70px 0px 40px 0px;
    border: 1px solid white;
    border-radius: 5px;
  }
  
  #locations .flex-container {
    margin: auto;
    width: 900px;
  }
  
  .location {
    opacity: 0.4;
    padding: 10px;
    margin: 5px 20px;
    background-color: #131212;
    flex-basis: 237px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid white;
  }
  
  h2.places {
    margin-top: 10px;
    font-weight: 300;
  }
  
  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5rem;
  }
  
  /* Contact Section */
  
  #contact {
    height: 213px;
  }
  
  h2.find {
    margin-top: 24px;
  }
  
  /* Footer Section */
  
  footer{
    text-align: left;
    padding-left: 20px;
  }









